* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
:root {
    --primary: #5939cb;
}
body {
    width: 100%;
    height: 100%;
}
div.example {
    border: 1px solid gray;
    padding: 5px;
    display: none;
    width: 100vw;
}

@media screen and (max-width: 1025px) {
    div.example {
        display: flex;
        flex-grow: 1;
    }
}

#register {
    text-decoration: none;
    color: var(--primary);
}

#headlogo {
    width: 7rem;
}
label,
input {
    display: block;
}
span#xoxheader {
    padding: 1rem;
    z-index: 2;
    color: black;
}
span#xoxlock {
    position: absolute;
    top: 1.9rem;
    padding: 1rem;
    z-index: 2;
    color: black;
}
span#xoxeye {
    position: absolute;
    top: 1.9rem;
    right: 0.2rem;
    padding: 1rem;
    z-index: 2;
    color: black;
}
span#xoxmail {
    position: absolute;
    top: 1.9rem;
    padding: 1rem;
    z-index: 2;
    color: black;
}
div#login-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
label {
    z-index: 1;
    position: relative;
}

input {
    padding: 10px 30px 10px 70px;
}
form {
    position: relative;
}
.name-label {
    border: solid black 1px;
}
