// main {
//     margin-top: 10rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// button {
//     width: 20rem;
//     padding: 1rem;
//     background-color: white;
// }
// #login {
//     background-color: black;
//     color: white;
//     font-size: larger;
//     font-weight: bold;
// }
// #login:hover {
//     background-color: rgb(100, 100, 100);
//     cursor: pointer;
// }
// #forget {
//     color: #7d61e1;
// }
main {
    width: 75%;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
